/*  GLOBAL STYLES
=============================================*/
* {
    margin: 0;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.separator {
  height: 50px;
}
.paneles {
  margin: 5px;
}
.custom-background {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.trans {
  background-color: #FFFFFF;
  opacity: 0.9;
}
.nav-item:hover, .navbar-brand:hover{
  font-weight: bold;
  color: #FFFFFF;
}
.bg-azulTeck {
    background-color: #0065BD;
}
.bg-azulTeck:hover{
    background-color: #004D99;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 40px; /* .push must be the same height as .footer */
}
.footer {
    border-top: 1px solid #C8C8C1;
    padding-top: 10px;
}



/* CORPORATIVOS:

Azul Teck
CMYK 100 40 0 0
RGB 0 101 189
PANTONE 300
HEX 0065BD

Gris Teck
CMYK 35 25 35 70
RGB 87 88 79
PANTONE 418
HEX 57584F

Celeste Teck
CMYK 60 10 0 0
RGB 150 188 231
PANTONE 292
HEX 96BCE7

Verde Teck
CMYK 65 0 100 5
RGB 106 173 60
PANTONE 369
HEX 6AAD3C

Anaranjado Teck
CMYK 10 60 100 0
RGB 215 105 30
PANTONE 138
HEX CC6600

Rojo Teck
CMYK 5 100 65 30
RGB 150 23 46
PANTONE 7427
HEX 96172E

Morado Teck
CMYK 75 70 5 20
RGB 105 77 125
PANTONE 668
HEX 694D7D

Turquesa Teck
CMYK 100 0 40 0
RGB 0 165 153
PANTONE 3272
HEX 00A599
*/
